.shoppingCart{
  .logoBar{
    border-bottom: 2px solid #e60000;
    background: #fff;
    .logoBarInner{
      width: 1000px;
      margin: auto;
      overflow: hidden;
      .logo{
        padding: 22px 0px;
        float: left;
      }
      h1{
        height: 47px;
        overflow: hidden;
        text-align: left;
      }
      .ad{
        padding: 27px 0px;
        height: 36px;
        line-height: 36px;
        float: right;
        span{
          float: left;
          color: #1a1a1a;
          font-size: 12px;
          background: url(http://www.bookschina.com/shopcar/images/promiseAd.png) no-repeat left;
          background-position-x: left;
          background-position-y: center;
          padding-left: 49px;
          margin-right: 33px;
        }
        .zhengbang{
          background-position: left;
        }
        .liujiu{
          background-position: -141px center;
        }
        .yizhe{
          background-position: -289px center;
          margin-right: 0px;
        }
      }
    }
  }
  .content{
    .contentInner{
      width: 1000px;
      margin: auto;
      .cartEmpty{
        padding: 100px 0px 200px;
        .emptyIcon{
          background: url(http://www.bookschina.com/shopcar/images/carSprites.png) no-repeat left -222px;
          float: left;
          width: 89px;
          height: 70px;
          margin-left: 252px;
        }
        .emptyText{
          padding-left: 30px;
          float: left;
          width: 629px;
          font-size: 14px;
          span{
            display: block;
            margin: 14px 0px 5px 0px;
          }
          a{
            color: #1754a4;
          }
        }
        li{
          float: left;
          width: 233px;
        }
        .shoppingList{
          height: 100px;
          background: #fffbf0;
          padding: 16px 0px;
          border: 1px solid #e4e4e4;
        }
        .fl{
          float: left;
          width: 233px;
          margin-top: 23px;
        }
        .current3{
          height: 300px;
          border: 1px solid #e4e4e4;
          padding: 0 30px;
          margin-top: 30px;
          margin-bottom: 50px;
          .current3-top{
            height: 89px;
            border-bottom: 1px solid #e4e4e4;
            overflow: hidden;
            h1{
              position: relative;
              overflow: hidden;
              font-size: 22px;
              color: #1a1a1a;
              margin-top: 30px;
              line-height: 40px;
              padding-left: 50px;
              span{
                position: absolute;
                background: url(http://tuan.bookschina.com/Content/images/info-icon.jpg) no-repeat -0px -0px;
                height: 41px;
                width: 41px;
                left: 0;
                top: 0;
              }
            }
          }
        }
      }
    }
  }
}
